/* Roboto font from Google */

@font-face {
  font-family: 'Roboto'; 
  src: url('/fonts/Roboto-Medium.ttf');
}

article, aside, dialog, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.8;
  color: #444444;
  min-height: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* http://colorschemedesigner.com/ */
/* Scheme ID: 3G11Tw0w0w0w0 */
body {
  /* background: #88adc9; */
  background: #6A93D4;
  margin: 0;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/::selection */
::selection,
::-moz-selection {
  background-color: #88adc9;
  color: #fff;
  text-shadow: none;
}

.typekit-badge {
  bottom: 1em !important;
  right: 1em !important;
}

/* Links */
a {
  color: #88adc9;
  text-decoration: none;
}

/* Addresses outline displaying oddly in Chrome */
a:focus {
  outline: thin dotted;
}

/* Mouse hovered in all browsers */
a:hover,
a:active {
  outline: 0;
}

a:hover,
a:focus,
a:active {
  color: #5389b1;
  text-decoration: underline;
}

/*
 * 1. Allows images to undergo proportional down-scaling within a container
 * 2. Removes border when inside 'a' element in IE8/9, FF3
 * 3. Removes excess space below inline images
 */

img {
  max-width: 100%;
  height: auto;
  border: 0;
  vertical-align: middle;
}

/* Lists */

ul, ol {
  padding-left: 30px;
}

ul ul, ol ol, ul ol, ol ul {
  margin: 0;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 30px;
}

/* Tables */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Typography */

.hx, h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1, .h1-l, .h1-xl {
  margin: 1em 0;
  line-height: 1.1;
  font-weight: bold;
}

h6, .h6 {
  font-size: 0.875em;
  color: #777;
}

h5, .h5 {
  font-size: 0.875em;
}

h4, .h4 {
  font-size: 1em;
}

h3, .h3 {
  font-size: 1.25em;
}

h2, .h2 {
  margin: 1em 0 0.75em;
  font-size: 1.5em;
}

h1, .h1 {
  margin: 0 0 0.75em;
  font-size: 2em;
}

.h1-l, .h1-xl {
  margin: 0 0 0.5em;
  font-size: 3.375em;
  font-weight: normal;
}

.h1-xl {
  margin: 0 0 0.5em;
  font-size: 4.5em;
  font-weight: normal;
}

small,
.txt-s {
  font-size: 75%;
}

.txt-xl {
  font-size: 1.5em;
}

/* Block-level margins */
p, blockquote, ul, ol, dl, menu, pre {
  margin: 0 0 1.8em;
}

/* Clearfix */
.cf, .site-nav {
  zoom: 1;
}

.cf:before, .site-nav:before, .cf:after, .site-nav:after {
  content: "";
  display: table;
}

.cf:after, .site-nav:after {
  clear: both;
}

/* Media object */
/* Media Block - Ref: www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/ */
.media {
  display: block;
}

.media .img {
  float: left;
  margin-right: 1em;
}

.media .bod {
  overflow: hidden;
  margin-bottom: 0;
}

/* Horizontal block */
/*Hoz Block (Horizontal) - Ref: http://csswizardry.com/2011/09/the-nav-abstraction/ */
.hoz {
  list-style: none;
  padding-left: 0;
}

.hoz,
.hoz dd {
  margin-left: 0;
}

.hoz li,
.hoz dt,
.hoz dd {
  display: inline;
}

.hoz a {
  display: inline-block;
}

/* Hidden */
/* http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/ */
.hidden {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/* Contain */
.contain {
  max-width: 800px;
  margin: 0 auto;
}

/* Header */
.site-head {
  padding: 1em 0 0;
}

.site-title {
  font-weight: normal;
  margin: 0;
}

.site-title a {
  color: rgba(0, 0, 0, 0.5);
  -webkit-transition: letter-spacing 0.1s ease;
  -moz-transition: letter-spacing 0.1s ease;
  -ms-transition: letter-spacing 0.1s ease;
  -o-transition: letter-spacing 0.1s ease;
  transition: letter-spacing 0.1s ease;
}
.site-title a:hover, .site-title a:focus {
  text-decoration: none;
  letter-spacing: .1em;
}

.site-img {
  margin: 0 1em;
  width: 56px;
}

.site-nav {
  clear: left;
  margin-top: 1em;
}

.nav__item {
  background-color: #fff;
  border-bottom: 1px solid #eee;
  float: left;
  font-size: 1.125em;
  font-weight: bold;
  padding: 1em 0;
  position: relative;
  text-align: center;
  width: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: background-color 0.1s ease;
  -moz-transition: background-color 0.1s ease;
  -ms-transition: background-color 0.1s ease;
  -o-transition: background-color 0.1s ease;
  transition: background-color 0.1s ease;
}
.nav__item + .nav__item {
  border-left: 1px solid #eee;
}
.nav__item:hover, .nav__item:focus {
  color: #ccc;
}
.nav__item.is-current {
  text-decoration: underline;
}
.nav__item.is-current:before {
  content: '';
  background-color: #88adc9;
  display: inline-block;
  height: 20px;
  width: 20px;
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -10px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Body */
.site-body {
  margin-bottom: 2em;
}

.is-twitter {
  color: #0084B4;
}
.is-twitter:hover, .is-twitter:focus {
  color: #005f81;
}

.is-github {
  color: #ccc;
}
.is-github:hover, .is-github:focus {
  color: #b3b3b3;
}

/* Footer */
.site-foot {
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.875em;
  text-align: center;
}

.island {
  background-color: #fff;
}

.island {
  padding: 1em;
  word-wrap: break-word;
}

.btn {
  background-color: #ccc;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 1em;
  font-weight: bold;
  padding: 1em 0;
  text-align: center;
  position: relative;
  z-index: 1;
  -webkit-transition: background-color 0.1s ease;
  -moz-transition: background-color 0.1s ease;
  -ms-transition: background-color 0.1s ease;
  -o-transition: background-color 0.1s ease;
  transition: background-color 0.1s ease;
}
.btn:hover, .btn:focus {
  background-color: #bfbfbf;
}
.btn:active {
  position: relative;
  top: 1px;
}


@media (min-width: 480px) {
  /* 768px */
  .island {
    padding: 4em;
  }

  .post--listing .post__title {
    font-size: 2em;
  }

  .btn {
    font-size: 1.25em;
    padding: 1.5em 0;
  }
}

@media (min-width: 800px) {
  /* 800px */
  .site-img {
    margin-left: 0;
  }
}